/* Desktop */
@media (min-width:1360px) {
  .body-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 12px;
  }

  .left-column {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 704px;
  }

  .left-column img {
    margin-top: 40px;
  }

  .center-column {
    width: 810px;
    height: 704px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
  }

  .text-area-input-text {
    width: 680px;
    height: 460px;
  }

  .input-text {
    width: 680px;
    height: 250px;
    margin-top: 85px;
  }

  .warning-content {
    width: 683px;
    height: 23px;
  }

  .buttons-container {
    width: 683px;
    height: auto;
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  .buttons-container button {
    width: 328px;
    height: 67px;
  }

  .right-column {
    width: 440px;
    height: 704px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-result-container {
    width: 400px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .missing-text-image img {
    width: 336px;
    height: 304px;
  }

  .text-converted {
    width: 300px;
    height: 450px;
    font-size: 1.4em;
  }
}

/* Tablet */
@media (max-width:1359px) {
  .body-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .left-column {
    width: 100%;
    height: 240px;
  }

  .left-column img {
    margin: 76px 0 0 40px;
  }  

  .center-column {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 8px;
  }

  .text-area-input-text {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
  }

  .input-text {
    width: 688px;
    height: 500px;
  }

  .warning-content {
    width: 688px;
    height: 20px;
  }

  .buttons-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  
  .buttons-container button {
    width: 332px;
    height: 67px;
  }
  
  .right-column {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  
  .text-result-container {
    width: 688px;
    gap: 32px;
  }
  
  .missing-text-image img {
    display: none;
  }

  .text-converted-container {
    width: 688px;
    height: 343px;
  }

  .text-converted {
    width: 624px;
    height: 180px;
  }

  .btn-copy button {
    width: 624px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 24px;
    color: #0A3871;
  } 
  
}

/* Cellphone */

@media (max-width:762px) {
  .body-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  }

  .left-column {
    width: 100%;
    height: 96px;
  }

  .left-column img {
    margin: 24px 0 0 16px;
  }

  .center-column {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 8px;
  }

  .text-area-input-text {
    width: 100%;
    height: 674px;
    display: flex;
    justify-content: center;
  }

  .input-text {
    width: 343px;
    height: 624px;
  }

  .warning-content {
    width: 343px;
    height: 20px;
  }

  .buttons-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  
  .buttons-container button {
    width: 343px;
  }

  .right-column {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  .text-result-container {
    width: 327px;
    padding: 32px 0;
  }

  .missing-text-image img {
    display: none;
  }

  .text-converted-container {
    width: 343px;
    height: 595px;
  }

  .text-converted {
    width: 279px;
    height: 432px;
  }

  .btn-copy button {
    width: 279px;
  }
  
}