  body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #E5E5E5;
  }

  textarea {
    color: #0A3871;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
  }

  button {
    cursor: pointer;
    padding: 24px;
    border-radius: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }

  .input-text::placeholder {
    color: #0A3871;
    font-size: 32px;
  }

  .input-text::-webkit-scrollbar ,
  .text-converted::-webkit-scrollbar {
    width: 6px;
  }

  .input-text::-webkit-scrollbar-thumb ,
  .text-converted::-webkit-scrollbar-thumb {
    background-color: #D8DFE8;    
    border-radius: 20px;
    border: 3px solid transparent;
  }

  .warning-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 8px;
  }

  .text-warning p {
    color: #495057;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    opacity: 0.8;
  }

  .warning-content img{
    width: 16px;
    height: 16px;
  }

  .buttons-container button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .encrypt button {
    background: #0A3871;
    color: #FFFFFF;
  }

  .unencrypt button {
    border: 1px solid #0A3871;
    background: #D8DFE8;
    color: #0A3871 ;
  }

  .text-result-container {
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    background: #FFFFFF;
  }

  .missing-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .missing-text-alert h3 {
    color: #343A40;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;  
    text-align: center;
  }

  .write-text-indication p {
    color: #495057;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .text-converted-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 50px;
  }

  .text-converted {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #495057;
    cursor: default;
  }

  .btn-copy button {
    width: 336px;
    height: 67px;
    border: 1px solid #0A3871;
    line-height: 19px;
    color: #0A3871;
  }

  /* JS Style */
  .hider {
    display: none;
  }